* {
    box-sizing: border-box;
}

#c {
    margin-right: 20px;
}

canvas {
    display: inline-block;
    width: 400px;
    position: relative;
    outline: 1px solid black;
}

.wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-wrapper h1 {
    text-align: center;
    margin: 5px;
    font-size: 20px;
}

#mask {
    position: fixed;
    left: 0;
    top: 0vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#mask .kernel {
    width: 3em;
    height: 3em;
    border: 1px solid black;
    text-align: center;
}

#threshold {
    grid-column: 1/4;
    border: 1px solid black;
    text-align: center;
    width: 9em;
}

#rgbaText,
.label-wrapper {
    border: 1px solid black;
    background-color: white;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset-btn,
#file-btn {
    grid-column: 1/4;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#reset-btn:hover,
#file-btn:hover {
    cursor: pointer;
    background-color: lightgray;
}

#reset-btn:active,
#file-btn:active {
    cursor: pointer;
    background-color: gray;
}

#file-btn {
    border: 1px solid black;
    background-color: white;
    grid-column: 1/4;
}

#rgbaLabel {
    height: 10px;
    width: 50%;
}

#file-input {
    width: 1px;
}